/* FONT CONTROL */
@import url('https://fonts.googleapis.com/css?family=Poiret+One:400|Poppins:400');

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.8em;
}

/* IMAGE CONTROL */

img {
  border-radius: 50%;
}

/* LINK CONTROL */

a:link {
  outline: 0;
  color: inherit;
  text-decoration: none;
}

a:visited {
  color:inherit;
  text-decoration: none;
}

a:hover {
  /*text-shadow:1px 1px 0px rgba(195, 195, 195, 0.97); */
  color: #666;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* INDENTATION */

html, body {margin: 0; height: 100%; overflow: hidden}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.my_picture {
  order: 1;
  width: 40%;
  margin: auto;
}

.links {
  white-space: pre;
  order: 2;
  margin: auto;
}

@media all and (orientation:portrait) {
  .container {
    flex-flow: column;
  }

  .my_picture {
    margin: auto;
  }
}
